<% include partials/header.ejs %>
    <h1>Mercury</h1>
    <hr>
    <p>Mercury is the smallest and innermost planet in the Solar System. Its 
    orbit around the Sun takes only 87.97 days, the shortest of all the planets 
    in the Solar System. It is named after the Roman deity Mercury, the 
    messenger of the gods. Like Venus, Mercury orbits the Sun within Earth's 
    orbit as an inferior planet, and its apparent distance from the Sun as 
    viewed from Earth never exceeds 28°. This proximity to the Sun means the 
    planet can only be seen near the western horizon after sunset or eastern 
    horizon before sunrise, usually in twilight.</p>
    <img src="/img/mercury.png" alt="Mercury"/>
<% include partials/footer %>